<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>document</title>
  </head>
  <body>
    <h5>Please Wait...</h5>
    <form name="f1" action="/paypal">
      <!-- <button type="submit">Pay</button> -->
    </form>
  </body>
</html>
